<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Ejercicio1</servlet-name>
  	<display-name>Ejercicio1</display-name>
  	<description></description>
  	<servlet-class>mx.ipn.escom.wad.servlets.Ejercicio1</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejercicio2</servlet-name>
  	<display-name>Ejercicio2</display-name>
  	<description></description>
  	<servlet-class>mx.ipn.escom.wad.servlets.Ejercicio2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejercicio3</servlet-name>
  	<display-name>Ejercicio3</display-name>
  	<description></description>
  	<servlet-class>mx.ipn.escom.wad.servlets.Ejercicio3</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Ejercicio4</servlet-name>
  	<display-name>Ejercicio4</display-name>
  	<description></description>
  	<servlet-class>mx.ipn.escom.wad.servlets.Ejercicio4</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Ejercicio1</servlet-name>
  	<url-pattern>/Ejercicio1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejercicio2</servlet-name>
  	<url-pattern>/Ejercicio2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejercicio3</servlet-name>
  	<url-pattern>/Ejercicio3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Ejercicio4</servlet-name>
  	<url-pattern>/Ejercicio4</url-pattern>
  </servlet-mapping>
</web-app>
